
div.mycontainer div {
    
    float:left;
}
.stock-graph{
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 500px;
    margin-top: 100px;
    margin-left: 200px;
    padding-left: 20px;
    padding-top: 15px;
}
.stock-fundamental{
    background-color: rgb(255, 255, 255);
    width:500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 30px;
    padding-left: 20px;
    padding-top: 15px;
}
